* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Charm', cursive;
}

.photos {
  display:block;  
  height: 100px;
  align-content: center;
  margin:auto;
}

p {
  text-align: center;
  text-transform: uppercase;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
div.text {
  z-index: 1;
  color: red;
  font-size: 40px;
  font-weight: 700;
}
div h2 {
  font-size: 32px;
  text-align: center;
}

img {
  /* transform: translateX(50%); */
  width: 200px;
  height:200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#countdown {
  text-align: center;
  font-size: 40px;
}

@media (max-width: 1024px) {
  div.text {
    font-size: 48px;
  }
}
